.card-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center; /* Center the text horizontally */
  display: flex;
  align-items: center; /* Center the text vertically */
  justify-content: center; /* Center the text horizontally */
  height: 100%; /* Ensure the text takes up the full height of the Card component */
}
.card-header__fixtures {
  font-size: 18px;
  /* font-weight: bold; */
  margin-bottom: 10px;
  
  height: 100%; /* Ensure the text takes up the full height of the Card component */
}
